.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.deadlineContainer {
  margin-bottom: 20px;
}

.colorContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.colorContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.colorContainer label input {
  margin-right: 10px;
}

.high {
  color: var(--label-color-green);
}

.medium {
  color: var(--label-color-pink);
}

.low {
  color: var(--label-color-blue);
}

.none {
  color: var(--label-color-grey);
}

.error {
  color: red;
}

.btn {
  border-radius: 8px;
  width: 302px;
  height: 49px;
  background-color: var(--btn-bg-color);
  cursor: pointer;
}

