.container {
  margin: 18px -14px;
}

.boardList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.active {
  background-color: var(--sidebar-boardItem-bgc);
  opacity: 0.4;
}

.boardItem {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  padding: 20px 14px;
  opacity: 1;
  cursor: pointer;
  gap: 4px;
}

.boardItem.active .boardIcon,
.boardItem.active .boardTitle {
  color: var(--text-color);
}

.boardIcon {
  fill: none;
  stroke: currentColor;
  color: var(--text-color-light);
}

.boardTitle {
  color: var(--text-color-light);
  font-size: 14px;
  letter-spacing: -0.02em;
  flex: 1;
  font-family: 'PoppinsMedium', sans-serif;
}

.iconButtons {
  display: flex;
  gap: 8px;
}

.editButton,
.deleteButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  stroke: var(--text-color-light);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boardItem.active {
  position: relative;
}

.boardItem.active:before,
.boardItem.active:after {
  content: '';
  position: absolute;
  right: 0;
  width: 4px;
  background-color: var(--sidebar-boardMarker-bgc);
}

.boardItem.active:before {
  top: 0;
  height: 50%;
  border-top-left-radius: 4px;
}

.boardItem.active:after {
  bottom: 0;
  height: 50%;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 18px -24px;
  }

  .boardItem {
    padding: 20px 24px;
    gap: 8px;
  }
}

@media screen and (min-width: 1040px) {
  .editButton,
  .deleteButton {
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .editButton:hover,
  .editButton:focus,
  .deleteButton:hover,
  .deleteButton:focus {
    stroke: var(--text-color);
  }
}
