.container {
  margin: 18px -14px;
}

.boardList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.active {
  background-color: var(--sidebar-boardItem-bgc);
  opacity: 0.4;
}

.boardItem {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  padding: 20px 14px;
  opacity: 1;
  cursor: pointer;
  gap: 4px;
  position: relative;
}

.boardItem.active .boardIcon,
.boardItem.active .boardTitle {
  color: var(--text-color);
}

.boardIcon {
  fill: none;
  stroke: currentColor;
  color: var(--text-color-light);
}

.boardTitle {
  color: var(--text-color-light);
  font-size: 14px;
  letter-spacing: -0.02em;
  flex: 1;
  font-family: 'PoppinsMedium', sans-serif;
}

.iconButtons {
  display: none; /* приховані за замовчуванням */
  gap: 8px;
}

.editButton,
.deleteButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  stroke: var(--text-color-light);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boardItem.active {
  position: relative;
}

.boardItem.active:before,
.boardItem.active:after {
  content: '';
  position: absolute;
  right: 0;
  width: 4px;
  background-color: var(--sidebar-boardMarker-bgc);
}

.boardItem.active:before {
  top: 0;
  height: 50%;
  border-top-left-radius: 4px;
}

.boardItem.active:after {
  bottom: 0;
  height: 50%;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 18px -24px;
  }

  .boardItem {
    padding: 20px 24px;
    gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .iconButtons.alwaysVisible {
    display: flex; /* завжди відображені для активної дошки */
  }

  .editButton,
  .deleteButton {
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .editButton:hover,
  .editButton:focus,
  .deleteButton:hover,
  .deleteButton:focus {
    stroke: var(--text-color);
  }

  .boardItem:hover .iconButtons {
    display: flex; /* відображаємо при ховері для неактивних дошок */
  }

  .activeBoardContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .arrow {
    color: var(--sidebar-btn-hover-board);
    width: 18px;
    height: 18px;
  }

  .showAllBoards {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 20px 24px;
    font-size: 14px;
    font-family: 'PoppinsMedium', sans-serif;
    letter-spacing: -0.02em;
    color: var(--text-color-light);
    margin-right: -4px;
  }

  .allBoardsMenu {
    position: absolute;
    top: -8px;
    left: 100%;
    background-color: var(--aside-bg-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 260px;
    max-height: 390px;
    overflow-y: auto;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 24px;
  }

  .boardItem:hover {
    background-color: var(--sidebar-boardItem-bgc);
    color: var(--text-color);
  }

  .boardItem:hover .boardIcon,
  .boardItem:hover .boardTitle {
    color: var(--text-color);
  }

  .boardItem:hover .iconButtons {
    display: flex;
  }

  .allBoardsMenu::-webkit-scrollbar {
    width: 6px;
  }

  .allBoardsMenu::-webkit-scrollbar-track {
    background: var(--sidebar-boardItem-bgc);
  }

  .allBoardsMenu::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-boardMarker-bgc);
    border-radius: 4px;
  }

  .allBoardsMenu::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .allBoardsMenu::-webkit-scrollbar-button:start {
    margin-left: -8px;
  }
}
