.filtersModal {
  position: relative;
  width: 300px;
  color: var(--card-title-color);
}

.title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: var(--card-title-color);
  margin-bottom: 14px;
}

.showAllButton {
  display: block;
  /* margin: 20px 0;
  padding: 10px 20px; */
  /* background-color: #ccc; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline;
  font-family: 'PoppinsRegular';
  color: var(--filtr-modal-text);
}

.priorityFilter {
  margin-top: 14px;
}

.priorityFilter p {
  margin: 0;
  font-size: 18px;
}

.priorityFilter label {
  display: block;
  margin: 10px 0;
}

.priorityFilter input {
  margin-right: 10px;
}

.high {
  color: var(--label-color-green);
}
.high:hover,
.medium:hover,
.low:hover,
.none:hover,
.showAllButton:hover {
  color: var(--card-title-color);
}
.medium {
  color: var(--label-color-pink);
}

.low {
  color: var(--label-color-blue);
}

.none {
  color: var(--filtr-modal-text);
}
.hederOfModal {
  display: flex;
  justify-content: space-between;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
.colorInputHigh {
  border: 10px solid var(--label-color-green);
}

.colorInputHigh:checked {
  border: 6px solid var(--label-color-green);
}
.colorInputMedium {
  border: 10px solid var(--label-color-pink);
}

.colorInputMedium:checked {
  border: 6px solid var(--label-color-pink);
}

.colorInputLow {
  border: 10px solid var(--label-color-blue);
}

.colorInputLow:checked {
  border: 6px solid var(--label-color-blue);
}
.colorInputWithout {
  outline: 3px solid rgba(255, 255, 255, 0.3);
  border: 1px solid var(--card-title-color);
}

.colorInputWithout:checked {
  opacity: 0.8;
  border: 5px solid var(--card-title-color);
  /* outline: 3px solid var(--card-title-color);*/
}
