.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  position: relative;
  background-color: var(--modal-bg-color);
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;

  background-color: transparent;
  border: 0;
  line-height: 0;
}

.iconColor {
  stroke: var(--header-text-color);

}

.content {
  padding: 24px;
}
