.container {
  width: 335px;
}
.icons {
  opacity: 50%;
  stroke: var(--stroke-icon-color);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1440px) {
}
