.container {
  min-width: 300px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .container {
    margin-left: 8px;
  }
}
@media screen and (max-width: 1440px) {
}
