.container .active {
  width: 100%;
  background-color: rgba(246, 246, 247, 1);
  height: 61px;
  margin-bottom: 10px;
}
.boardItem {
    display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 20px;
      cursor: pointer;
      gap: 4px;
}

.boardItem.active .boardIcon,
.boardItem.active .boardTitle {
  color: #000;
}

.boardIcon {
  margin-right: 8px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  color: rgba(22, 22, 22, 0.5)
}

.boardTitle {
  color: rgba(22, 22, 22, 0.5);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  flex: 1;
 
}

.iconButtons {
  display: flex;
  gap: 8px;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  stroke: #999;
}