.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: var(--btn-bg-color);
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.addBtn:hover {
  background-color: var(--btn-hover-color);
  scale: 101%;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: var(--mini-btn-color);
}

.svg {
  font-size: 14px;

  stroke: var(--mini-btn-stroke);
}

.btnTextWrap {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--mini-btn-color);
}
