.select {
  height: 21px;
  min-width: 85px;
  position: relative;
}

.select_btn {
  color: var(--header-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  /* border-radius: 2px; */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.select_content {
  background-color: var(--header-bg-color);

  border: 1px solid var(--text-color-modify);
  border-radius: 8px;
  margin-top: 1px;
  padding: 4px 8px;
}

.select_item {
  color: var(--text-color);
  background-color: var(--header-bg-color);
  text-align: center;
  transition: all 200ms linear;
  cursor: pointer;
  border: none;
  font-weight: 400;

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: var(--main-color);
  }
}

.selected_item {
  transform: scale(1.1);
  color: var(--main-color);
}

.svg {
  width: 16px;
  height: 16px;
  stroke: var(--stroke-icon-color);
}