.columnWrapper {
  display: flex;
  z-index: 1;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}
.container {
  width: 335px;
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  gap: 8px;
  justify-content: space-between;
  background-color: transparent;
  background-color: aquamarine;
  padding: 18px 20px 17px 20px;
  background-color: var(--main-color);
  border-radius: 8px;
  margin-bottom: 14px;
}
.columnTitle {
  color: var(--text-color);
  font-family: 'PoppinsRegular';
  font-size: var(--base-font-size);
  font-weight: 500;
  letter-spacing: -0.0175em;
}
.icon {
  stroke: var(--text-color-light);
}
.btnWrapper {
  display: flex;
  gap: 8px;
}
.columnBtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  padding: 0px;
}
