@font-face {
  font-family: 'PoppinsMedium';
  src: local('Poppins-Medium'),
    url('../fonts/Poppins-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'PoppinsRegular';
  src: local('Poppins-Regular'),
    url('../fonts/Poppins-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'PoppinsSemiBold';
  src: local('Poppins-SemiBold'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2');
}

:root {
  font-family: 'PoppinsRegular', sans-serif;
  line-height: 1.125em;
  /* 18px */
  font-weight: 400;

  /* colors for light theme */

  --main-color: #ffffff;
  --header-bg-color: #fcfcfc;
  --modal-bg-color: #fcfcfc;
  --main-bg-color: #f6f6f7;
  --aside-bg-color: #ffffff;
  --aside-active-bg-color: rgba(246, 246, 247, 0.4);
  --aside-help-bg-color: #f6f6f7;
  --aside-els-frame-color: rgba(22, 22, 22, 0.1);

  --text-color: #161616;
  --text-color-light: rgba(22, 22, 22, 0.5);
  --text-color-modify: #bedbb0;

  --header-text-color: rgba(22, 22, 22, 0.8);
  --card-text-color: rgba(22, 22, 22, 0.7);

  --btn-bg-color: #bedbb0;
  --column-color-active: #9092d6;

  --label-color-blue: #8fa1d0;
  --label-color-pink: #e09cb5;
  --label-color-green: #bedbb0;
  --label-color-grey: rgba(22, 22, 22, 0.3);

  /* base fs 14px */
  --base-font-size: 0.875em;
  --extraSml-font-size: 0.5em;
  --sm-font-size: 0.625em;
  --md-font-size: 0.75em;
  --lg-font-size: 1em;
  --extraLg-font-size: 1.125em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


[data-theme='light'] {
  --main-color: #ffffff;
  --header-bg-color: #fcfcfc;
  --modal-bg-color: #fcfcfc;
  --main-bg-color: #f6f6f7;
  --aside-bg-color: #ffffff;
  --aside-active-bg-color: rgba(246, 246, 247, 0.4);
  --aside-help-bg-color:#F6F6F7;
  --aside-els-frame-color: rgba(22, 22, 22, 0.1);

  --text-color: #161616;
  --text-color-light: rgba(22, 22, 22, 0.5);
  --text-color-modify: #bedbb0;

  --header-text-color: rgba(22, 22, 22, 0.8);
  --card-text-color: rgba(22, 22, 22, 0.7);

  --btn-bg-color: #bedbb0; 
  --column-color-active:#9092D6;
}

[data-theme='dark'] {
  --main-color: #121212;
  --header-bg-color: #161616;
  --modal-bg-color: #151515;
  --main-bg-color: #1F1F1F;
  --aside-bg-color: #121212;
  --aside-active-bg-color: rgba(31, 31, 31, 0.4);
  --aside-help-bg-color:#1F1F1F;
  --aside-els-frame-color: rgba(255, 255, 255, 0.10);

  --text-color: #FFF;
  --text-color-light: rgba(255, 255, 255, 0.50);
  --text-color-modify: #bedbb0;

  --header-text-color: rgba(255, 255, 255, 0.80);
  --card-text-color: rgba(255, 255, 255, 0.50);

  --btn-bg-color: #bedbb0; 
  --column-color-active:#121212;
}

[data-theme='violet'] {
  --main-color: #5255BC;
  --header-bg-color: #FFF;
  --modal-bg-color: #FCFCFC;
  --main-bg-color: #ECEDFD;
  --aside-bg-color: #5255BC;
  --aside-active-bg-color: rgba(255, 255, 255, 0.50);
  --aside-help-bg-color:rgba(236, 237, 253, 0.40);
  --aside-els-frame-color: rgba(255, 255, 255, 0.10);

  --text-color: #FFF;
  --text-color-light: rgba(255, 255, 255, 0.50);
  --text-color-modify: #5255BC;

  --header-text-color: rgba(22, 22, 22, 0.80);
  --card-text-color: rgba(22, 22, 22, 0.70);

  --btn-bg-color: #5255BC; 
  --column-color-active:#FFF;
}


.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
