.container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 104px;
  margin-bottom: 70px;
}

.logoName {
  font-family: 'PoppinsSemiBold', sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .container {
    margin-bottom: 60px;
  }
}
