.contentWrapper {
  height: 100%;
  overflow-x: auto;
}

.contentWrapper::-webkit-scrollbar {
  height: 12px;
}

.contentWrapper::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color-horizontal);
  border-radius: 12px;
}

.contentWrapper::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-finger-color-horizontal);
  border-radius: 12px;
}
