.contentWrapper {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-color: var(--btn-hover-color) var(--btn-bg-color);
  scrollbar-width: thin;
  margin: 0 5px 5px 5px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1440px) {
}
