.contentWrapper {
  /* min-width: 100%; */
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1180px;
  scrollbar-color: var(--btn-hover-color) var(--btn-bg-color);
  scrollbar-width: thin;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1440px) {
}
