.container {
  width: 375px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1180px;
  }
}
@media screen and (max-width: 1440px) {
}
