.headerWrapper {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg-color);
  /* background: transparent; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  z-index: 0;
  border-radius: 8px;
}
.boardTitle {
  color: var(--header-text-color);
  font-family: 'PoppinsMedium';
  font-size: var(--base-font-size);
  line-height: normal;
  letter-spacing: -0.0175em;
}
.filterWrapper {
  display: flex;
  height: 100%;
}
.icon {
  stroke: var(--stroke-icon-color);
  display: block;
  align-self: center;
}

.filtersPar {
  margin-left: 10px;
  height: 100%;
  color: var(--header-text-color);
  font-family: 'PoppinsMedium';
  font-size: var(--base-font-size);
  line-height: normal;
  letter-spacing: -0.0175em;
  display: flex;
  align-items: center;
}
