.header {
  background-color: var(--header-bg-color);

  height: 60px;

  @media screen and (min-width: 768px) {
    height: 68px;
  }
}

.header_iconMenu {
  fill: var(--stroke-icon-color);
  width: 24px;
  height: 24px;

  @media screen and (min-width: 768px) {
    height: 32px;
    width: 32px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 14px 20px;

  @media screen and (min-width: 768px) {
    padding: 18px 32px;
  }

  @media screen and (min-width: 1440px) {
    justify-content: flex-end;
  }
}

.menu_btn {
  border: none;
  background-color: var(--header-bg-color);
  stroke: var(--stroke-icon-color);

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.profile_container {
  display: flex;
  align-items: baseline;
  gap: 8px;
}