.modal {
  margin-top: 10px;
  width: 350px;
  min-height: 300px;
}

.formStyle {
  width: 350px;
  text-align: center;
}

.labelStyle {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.inputName {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  padding: 14px 18px;
  border-radius: 6px;
  width: 100%;
  height: 49px;
  background: none;
  color: var(--user-text-color);
  border: 1px solid var(--select-bg-border);
  opacity: 0.4;
}

.inputName:hover {
  border: 1px solid var(--select-text-hover);
}

.inputName:focus {
  border: 1px solid;
  border-color: var(--select-text-hover);
  color: var(--user-text-color);
}

.inputNameImg {
  display: block;

  width: 100px;
  opacity: 0;
}

.img {
  display: inline-block;
  justify-content: center;
}

.imgUser {
  display: inline-block;
  width: 68px;
  height: 68px;
  justify-content: center;
}

.btnAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 6px;
  width: 100%;
  background-color: var(--btn-bg-color);
  height: 49px;
  justify-content: center;
}

.titleName {
  color:var(--text-color);
  font-size: 18px;
  width: 96px;
}

.passwordToggle {
  position: absolute;
  right: 5px;
  top: 33%;
  transform: translate(-70%);
}

.img {
  display: inline-block;

  fill: none;
  stroke: var(--stroke-icon-color);
  cursor: pointer;
}

.fieldIcon{
  stroke: var(--stroke-icon-color);
}
.btnplus{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  position: absolute;
  left: 47%;
  bottom: -8px;
  background-color: var(--sidebar-btn-board);
}

.btnplus:hover {
  border: 1px solid var(--select-text-hover);
}