.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 197px;
  height: 70px;
  margin-bottom: 40px;
  border-top: 1px solid var(--aside-els-frame-color);
  border-bottom: 1px solid var(--aside-els-frame-color);
}

.text {
  width: 76px;
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.btn {
  width: 40px;
  height: 36px;
  background-color: var(--sidebar-btn-board);
  border: 0;
  border-radius: 6px;
  line-height: 0;
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    width: 212px;
  }
}

@media screen and (min-width: 1040px) {
  .btn:hover,
  .btn:focus {
    background-color: var(--sidebar-btn-hover-board);
  }
}
