@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fieldInput {
    border: 1px solid #bedbb0;
    border-radius: 8px;
    width: 287px;
    height: 49px;
    box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
    background: #1f1f1f;
    opacity: 0.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 14px 18px;
  }
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: red;
  }
  .form {
    position: relative;
  }
  .passwordWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .passwordIcon {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    stroke: #ffffff4d;
    fill: #ffffff4d;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .fieldInput {
    border: 1px solid #bedbb0;
    border-radius: 8px;
    width: 344px;
    height: 49px;
    box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
    background: #1f1f1f;
    opacity: 0.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 14px 18px;
  }
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: red;
  }
  .form {
    position: relative;
  }
  .passwordWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .passwordIcon {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    stroke: #ffffff4d;
    fill: #ffffff4d;
  }
}
@media only screen and (min-width: 1440px) {
  .fieldInput {
    border: 1px solid #bedbb0;
    border-radius: 8px;
    width: 344px;
    height: 49px;
    box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
    background: #1f1f1f;
    opacity: 0.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 14px 18px;
  }
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: red;
  }
  .form {
    position: relative;
  }
  .passwordWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .passwordIcon {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    stroke: #ffffff4d;
    fill: #ffffff4d;
  }
}
