.textInner {
  min-width: 335px;
  max-width: 468px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--card-text-color);
}

.startWrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 60px);
}

@media (min-width: 375px) {
}

@media (min-width: 768px) {
  .startWrapper {
    height: calc(100vh - 110px);
  }
}

@media (min-width: 1440px) {
}
