.welcomeImage {
  width: 124px;
  height: 124px;
  background-image: url(../../images/welcome-page-image/welcome-mob-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .welcomeContainer {
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 25%,
      #bedbb0 92.19%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .welcomeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 24px;
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 375px),
    screen and (min-resolution: 2dppx) and (min-width: 375px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
    .welcomeImage {
      background-image: url('../../images/welcome-page-image/welcome-mob-2x.png');
    }
  }
  .welcomeNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .welcomeIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: black;
  }
  .welcomeName {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.04em;
    font-family: 'Poppins', sans-serif;
    color: #161616;
  }
  .welcomeSlogan {
    max-width: 335px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #161616;
    margin-bottom: 48px;
  }
  .tabletBreak {
    display: none;
  }
  .mainButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .registerButton {
    font-weight: 500;
    text-align: center;
    min-width: 280px;
    border-radius: 8px;
    padding: 14px 0px;
    color: white;
    background-color: black;
    border: none;
    height: 49px;
    width: 335px;
  }
  .loginButton {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
    background-color: transparent;
    border: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .welcomeContainer {
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 25%,
      #bedbb0 92.19%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .welcomeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
  }
  .welcomeImage {
    width: 162px;
    height: 162px;
    background-image: url(../../images/welcome-page-image/welcome-tab-1x.png);
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .welcomeImage {
      background-image: url('../../images/welcome-page-image/welcome-tab-2x.png');
    }
  }
  .welcomeNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .welcomeIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: black;
  }
  .welcomeIcon {
    width: 18px;
    height: 24px;
  }
  .welcomeName {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.04em;
    font-family: 'Poppins', sans-serif;
    color: #161616;
  }
  .welcomeSlogan {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #161616;
    margin-bottom: 48px;
  }
  .mobileBreak {
    display: none;
  }
  .mainButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .registerButton {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    color: white;
    min-width: 280px;
    border-radius: 8px;
    padding: 14px 0px;
    background-color: black;
    border: none;
    height: 49px;
    width: 344px;
  }
  .loginButton {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
    background-color: transparent;
    border: none;
  }
}
@media only screen and (min-width: 1440px) {
  .welcomeContainer {
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 25%,
      #bedbb0 92.19%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .welcomeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
  }
  .welcomeImage {
    background-image: url(../../images/welcome-page-image/welcome-desk-1x.png);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .welcomeImage {
      background-image: url('../../images/welcome-page-image/welcome-desk-2x.png');
    }
  }
  .welcomeNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .welcomeIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: black;
  }
  .welcomeIcon {
    width: 18px;
    height: 24px;
  }
  .welcomeName {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.04em;
    font-family: 'Poppins', sans-serif;
    color: #161616;
  }
  .welcomeSlogan {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #161616;
    margin-bottom: 48px;
  }
  .mobileBreak {
    display: none;
  }
  .mainButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .registerButton {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    min-width: 280px;
    border-radius: 8px;
    padding: 14px 0px;
    color: white;
    background-color: black;
    border: none;
    height: 49px;
    width: 344px;
  }
  .loginButton {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
    background-color: transparent;
    border: none;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.registerButton:hover,
.registerButton:focus {
  animation: pulse 1s infinite;
  transition: 0.3s;
  opacity: 0.9;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  transform: scale(1.05);
}
.loginButton:hover,
.loginButton:focus {
  animation: pulse 1s infinite;
  transition: 0.3s;
  opacity: 0.9;
  transform: scale(1.05);
}
