.container {
  width: 100vb;
}
.columnList {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1440px) {
}
