.container {
  display: flex;
}

.sidebar {
  display: none;
  position: fixed;
  z-index: 2;
}

.mainContent {
  /* display: flex; */
  position: relative;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .sidebar {
    display: flex;
    position: static;
    z-index: 1;
  }
}
