.helpModalWrap {
    width: 287px;

}

.helpTitle {
    font-family: var(--font-family-medium);
    font-size: 14px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
    letter-spacing: -0.36px;
    color: var(--header-text-color);
}

.helpForm {
    margin: 0;
    position: relative;
}

.helpErrorMsg {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
    color: var(--btn-hover-color);
    text-align: center;
}

.helpInput {
    width: 287px;
    padding: 14px 18px;
    font-size: 14px;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    margin-bottom: 24px;
    opacity: 0.4;
    border-width: 1px;
    color: var(--user-text-color);
    transition: border var(--primary-transition);
    box-shadow: 0px 4px 16px 0px var(--label-color-grey);
}

.helpInput:focus {
    opacity: 1;
    outline: 1px solid var(--btn-bg-color);
    box-shadow: 0px 4px 16px 0px var(--label-color-grey);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.helpTextArea {
    width: 287px;
    padding: 14px 18px;
    font-size: 14px;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    margin-bottom: 24px;
    color: var(--user-text-color);
    height: 120px;
    border-width: 1px;
    opacity: 0.4;
    box-shadow: 0px 4px 16px 0px var(--label-color-grey);
}

.helpTextArea:focus {
    opacity: 1;
outline: 1px solid var(--btn-bg-color);
    box-shadow: 0px 4px 16px 0px var(--label-color-grey);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.helpSubmitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 287px;
    height: 49px;
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
    transition: scale 250ms ease-in 0s;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--mini-btn-color);
}

.helpSubmitBtn:hover:active {
    background-color: var(--btn-hover-color);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .helpInput {
        width: 352px;
    }

    .helpTextArea {
     width: 352px;
    }

    .helpSubmitBtn {
        width: 352px;
    }

    .helpModalWrap {
        width: 352px;

    }
}

.helpErrorMsg {
    color: var(--btn-hover-color);
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.helpSuccessMsg {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
